<h2> Desafio Lógica de programação </h2>

<h3> Foram extraídos <%= @diamante%> diamantes </h3><br>


<h2>Importar arquivo CSV</h2>

  <%= form_tag import_titles_path, multipart: true do %>
    <%= file_field_tag :file%>
    <%= submit_tag "Importar"%>
  <%end%>
</div>
