<div class="container pb-5 bg-light text-dark">
  <h1> Desafio Mobile2You </h1>
</div>

<div class="container bg-light text-dark">
  <h2 class ='pb-3'> Desafio Lógica de Programação </h2>

  <h5>
      Dado um conjunto de caracteres, você precisará extrair os "diamantes" ( <>) e as "areias" ( . ) da expressão e no
      final exibir a quantidade de diamantes extraídos<br><br>
      Expressão: <<.<<..>><>><.>.>.<<.>.<.>>>><>><>>
  </h5>



  <h5 class='py-3'> Resposta: </h5>

  <p class="pb-3">
    Foram extraídos <strong><%= @diamante%></strong> diamantes levando em consideração os diamantes
    formados após a extração das areias e os gerados após a extração de cada diamante
  </p>

</div>
